%h2 Редактирование профиля

= form_for(@user) do |f|
  = render 'fields', :f => f
  .actions
    = f.submit "Обновить"

  %div
    = gravatar_for @user
    = link_to "изменить", "http://gravatar.com/emails", :target => "_blank"