%header
  .title 
    %h1 
      = link_to "Ирбитский политехникум", root_path
    %p 
      = link_to "Государственное бюджетное образовательное учреждение среднего профессионального образования Свердловской области", root_path

  = link_to logo, root_path

  .auth
    - if !signed_in?
      = render 'layouts/form_signin_user'
    - else
      = render 'layouts/form_signout_user'
      
    